

<div class="main-content index-page clearfix" style="">
    <div class="post-lists">
        <table>
            <thead>
                <tr>
                    <td width=""> 管理员登录 </td>
                </tr>
            </thead>
            <tr>
                <td>
                    <form action="/admin" method="post">
                        <p><input type="hidden" name="username" value="admin"></p>
                        <p><input type="password" name="password" placeholder="请输入密码"><input type="submit" value="登录"> </p>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>

